<template>
	<div class="container-fluid">
		<header class="container">
			<div class="row d-flex align-items-center py-3">
				<span class="binaccle-name mr-auto h2">Binaccle</span>
				<nav class="d-md-flex align-items-top d-none">
					<ul class="list-inline py-2 mr-3">
						<li class="list-inline-item px-2" v-for="(link, index) in LINKS" :key="index">
							<a :href="`#${link}`" v-smooth-scroll="{ offset: -100 }">{{ $t(`header.menu.${link}`) }}</a>
						</li>
					</ul>
					<div>
						<a class="btn btn-primary p-2 mr-3" href="#" role="button">{{ $t('common.signUp') }}</a>
						<a class="btn btn-outline-secondary p-2 mr-3" href="#" role="button">{{ $t('common.signIn') }}</a>
					</div>
					<SelectLanguage />
				</nav>
				<Sidebar />
			</div>
		</header>
	</div>
</template>

<script>
const SelectLanguage = () => import('./components/SelectorLanguage');
const Sidebar = () => import('./components/Sidebar');
import LINKS from './constants';

export default {
	name: 'Header',
	components: {
		SelectLanguage,
		Sidebar
	},
	created() {
		this.LINKS = LINKS;
	}
};
</script>

<style scoped lang="scss">
.container-fluid {
	border-bottom: 1px solid $hr-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: $white;

	.binaccle-name {
		&::first-letter {
			color: $white;
			background: $primary;
			padding: 0.2rem;
			margin-right: 0.1rem;
			border-radius: $border-radius;
		}
	}

	nav {
		.btn {
			font-size: $font-size-sm !important;
		}

		.list-inline {
			a {
				transition: $transition-base;
				color: $secondary;

				&:hover {
					transition: $transition-base;
					opacity: 0.7;
				}
			}
		}
	}
}
</style>
