//////////////////////////////////////////////////
// Fonts
//////////////////////////////////////////////////

$font-family-sans-serif: "Sora";
$font-family-monospace: "Sora";
$font-size-base: 0.9rem;
$font-size-sm: 0.8rem;


//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////

$primary:#6592fe;
$secondary:#3d3d3d;
$white: #fff;
$success:#4fc775;
$danger:#ff5952;

// Text
$headings-color: $secondary;
$headings-font-weight: 700;
$link-color:$secondary;
$link-hover-decoration: none;
$text-color: rgba($secondary,.85);
$body-color: $text-color;

// Body
$body-background-color:#FAFAFC;

// hr
$hr-color: rgba($text-color,.2);


//////////////////////////////////////////////////
// Misc
//////////////////////////////////////////////////

// Animations
$transition-base: all 0.1s ease-in-out;
$transition-slow: all 0.3s ease-in-out;

// Border radius
$border-radius: .175rem;


//////////////////////////////////////////////////
// Resets
//////////////////////////////////////////////////

// Margins
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$form-label-margin-bottom:0;

// Input
$input-focus-border-color:$hr-color;
$input-focus-box-shadow: none;

// Button
$input-btn-focus-box-shadow: none !important;

// Cards
$card-border-color:none;

//////////////////////////////////////////////////
// Breakpoints
//////////////////////////////////////////////////

$grid-breakpoints: (
  xs:0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1320px
);