<template>
	<div class="container-fluid py-5">
		<div class="row">
			<div class="container">
				<h5 class="h2 text-center mb-5">Preguntas frecuentes</h5>

				<div class="faq-container" role="tablist">
					<b-card no-body class="mb-1" v-for="(faq, index) in FAQS" :key="index">
						<b-card-header header-tag="header" role="tab">
							<p v-b-toggle="`faq-${index}`" class="h5 py-3">
								{{ faq.title }}
							</p>
						</b-card-header>
						<b-collapse :id="`faq-${index}`" accordion="my-accordion" role="tabpanel">
							<b-card-body>
								<b-card-text>{{ faq.answer }}</b-card-text>
							</b-card-body>
						</b-collapse>
					</b-card>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import { BCollapse, BCard, VBToggle } from 'bootstrap-vue';
import FAQS from './constants';

Vue.directive('b-toggle', VBToggle);

export default {
	name: 'Faq',
	components: {
		BCollapse,
		BCard
	},
	created() {
		this.FAQS = FAQS;
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	position: relative;

	.faq-container {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		.card {
			.h5 {
				border-top: 1px solid $hr-color;
			}

			&:first-of-type {
				.h5 {
					border-top: none;
				}
			}
		}
	}
}
</style>
