<template>
	<footer class="py-5 mt-5">
		<div class="container">
			<div class="row pb-3">
				<div class="col-md-3 col-sm-6 mb-4 mb-md-0" v-for="(section, index) in SECTIONS" :key="index">
					<p class="h6">{{ section.title }}</p>
					<ul class="list-inline pt-3">
						<li class="pb-2" v-for="(item, indexItem) in section.items" :key="indexItem">
							<a v-if="item.isAnchor" :href="item.href" v-smooth-scroll="{ offset: -100 }">{{ item.title }}</a>
							<a v-else :href="item.href" target="_blank">{{ item.title }}</a>
						</li>
					</ul>
				</div>
			</div>

			<ul class="list-inline">
				<li class="list-inline-item pr-2" v-for="(socialNetwork, index) in SOCIAL_NETWORKS" :key="index">
					<a :href="socialNetwork.href" target="_blank">
						<img :src="require(`@/assets/logo-${socialNetwork.img}.svg`)" class="social-logo" width="24" height="24" />
					</a>
				</li>
			</ul>

			<hr />
			<small class="d-block pt-3"> © 2022 Binaccle. All rights reserved.</small>
		</div>
	</footer>
</template>

<script>
import { SOCIAL_NETWORKS, SECTIONS } from './constants';

export default {
	name: 'Footer',
	created() {
		this.SOCIAL_NETWORKS = SOCIAL_NETWORKS;
		this.SECTIONS = SECTIONS;
	}
};
</script>

<style lang="scss" scoped>
$opacity: 0.7;
footer {
	background: $secondary;
	text-align: center;

	p {
		color: $white !important;
	}

	ul {
		li {
			&:last-of-type {
				padding-bottom: 0 !important;
			}
			a {
				font-size: $font-size-sm;
				color: rgba($white, $opacity);
				transition: $transition-base;

				&:hover {
					color: rgba($white, $opacity - 0.1);
					transition: $transition-base;
				}
			}
		}
	}

	.social-logo {
		filter: invert(1);
		opacity: $opacity;
	}

	small {
		opacity: 0.4 !important;
		color: $white;
	}
}
</style>
