<template>
	<div>
		<cookie-law theme="dark-lime"></cookie-law>
	</div>
</template>

<script>
import CookieLaw from 'vue-cookie-law';

export default {
	name: 'Cookies',
	components: {
		CookieLaw
	}
};
</script>

<style></style>
