<template>
	<div :class="['selector-container', block ? 'block' : '']">
		<b-form-select v-model="language" :options="AVAILABLE_LANGS" @change="setLanguage" />
	</div>
</template>

<script>
import { BFormSelect } from 'bootstrap-vue';
import { AVAILABLE_LANGS } from './constants';
import { loadLanguageAsync, getLanguage } from '@/i18n';
import { title } from '@/mixins';

export default {
	name: 'SelectLanguage',
	mixins: [title],
	components: {
		BFormSelect
	},
	props: {
		block: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			language: getLanguage()
		};
	},
	methods: {
		async setLanguage(language) {
			await loadLanguageAsync(language);

			this.setTitle();
		}
	},
	created() {
		this.AVAILABLE_LANGS = AVAILABLE_LANGS;
	}
};
</script>

<style lang="scss" scoped>
.selector-container {
	width: 100px;

	&.block {
		width: auto;
	}

	select {
		height: 100%;
	}
}
</style>
