<template>
	<div>
		<a class="d-flex d-md-none" @click.prevent="" href="#" v-b-toggle.sidebar-1>
			<span class="icon ionicon-menu-outline"></span>
		</a>

		<BSidebar v-model="isOpen" id="sidebar-1" shadow right lazy backdrop>
			<div class="p-3">
				<ul class="list-inline">
					<li class="pb-3" v-for="(item, indexItem) in LINKS" :key="indexItem">
						<a @click="closeSidebar" v-if="item.isAnchor" :href="item.href" v-smooth-scroll="{ offset: -100 }">{{
							item.title
						}}</a>
						<a v-else :href="item.href" target="_blank">{{ item.title }}</a>
					</li>
				</ul>

				<hr />

				<SelectorLanguage block />

				<hr />

				<div class="d-flex mt-3 justify-content-center">
					<a class="btn btn-primary p-2 mr-3" href="#" role="button">{{ $t('header.signUp') }}</a>
					<a class="btn btn-outline-secondary p-2 mr-3" href="#" role="button">{{ $t('header.signIn') }}</a>
				</div>
				<hr />

				<ul class="list-inline text-center">
					<li class="list-inline-item pr-2" v-for="(socialNetwork, index) in SOCIAL_NETWORKS" :key="index">
						<a :href="socialNetwork.href" target="_blank">
							<img
								:src="require(`@/assets/logo-${socialNetwork.img}.svg`)"
								class="social-logo"
								width="24"
								height="24"
							/>
						</a>
					</li>
				</ul>
			</div>
		</BSidebar>
	</div>
</template>

<script>
import { BSidebar } from 'bootstrap-vue';
import { LINKS } from './constants';
import { SOCIAL_NETWORKS } from '../../footer/constants';
const SelectorLanguage = () => import('./SelectorLanguage');

export default {
	name: 'Sidebar',
	components: {
		BSidebar,
		SelectorLanguage
	},
	data() {
		return {
			isOpen: false
		};
	},
	methods: {
		closeSidebar() {
			this.isOpen = !this.isOpen;
		}
	},
	created() {
		this.LINKS = LINKS;
		this.SOCIAL_NETWORKS = SOCIAL_NETWORKS;
	}
};
</script>

<style lang="scss" scooped>
.list-inline {
	li {
		&:last-of-type {
			padding-bottom: 0 !important;
		}
	}
}

.ionicon-menu-outline {
	font-size: 2rem;
}

.btn {
	font-size: $font-size-sm;
}

.social-logo {
	filter: invert(0.1);
	opacity: 0.7;
}
</style>
