<template>
	<div class="container-fluid py-5" id="plans">
		<div class="container py-5 px-0">
			<h4 class="h2 text-center">Planes</h4>

			<div class="row">
				<div class="col-12 col-sm-6 my-4">
					<div
						class="toggle-wrapper d-flex align-items-center justify-content-center justify-content-sm-end mr-0 mr-sm-5"
					>
						<span :class="[!yearly ? 'font-weight-bold' : '']">Mensual</span>
						<label class="switch mx-3">
							<input v-model="yearly" type="checkbox" />
							<span class="slider round"></span>
						</label>
						<span :class="[yearly ? 'font-weight-bold' : '']">Anual</span>
					</div>
				</div>
				<div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
					<div class="d-flex align-items-center">
						<label for="sb-step">Agregar</label>
						<b-form-spinbutton
							id="sb-step"
							v-model="quantity"
							min="0"
							max="1000000"
							:step="STEP"
							:inline="true"
							class="ml-3"
							:formatter-fn="quantityFormatter"
						/>
					</div>
				</div>
			</div>

			<PlanInformation class="text-center mt-3" />

			<div class="row mt-5">
				<div class="col-12 col-sm-6 col-lg-3 mb-5" v-for="(plan, index) in PLANS" :key="index">
					<div class="col-md-12 p-4 text-center price-container rounded shadow-sm">
						<p class="h5 pb-3 font-weight-bold">{{ plan.name }}</p>
						<p>{{ plan.description }}</p>
						<p class="py-3">
							<span class="h4 font-weight-bold">{{
								updatePrice(plan.price, plan.discountLot) | currency('$', 0)
							}}</span>
							<small class="pl-1">/ mes*</small>
						</p>
						<a :class="['btn p-2', plan.primary ? 'btn-primary' : 'btn-outline-secondary']" href="#" role="button"
							>Comenzar</a
						>
						<hr />

						<ul class="characteristics-list list-inline mt-3">
							<li class="py-1 text-center" v-for="(characteristic, index) in plan.characteristics" :key="index">
								<p class="d-flex">
									<span class="font-weight-bold h6 pr-3">{{ characteristic.quantity + quantity }}</span>
									<span> {{ characteristic.entity }}</span>
								</p>
							</li>
						</ul>

						<p class="h6 pt-3 font-weight-bold">Funcionalidades</p>

						<ul class="features-list text-left list-inline mt-3">
							<li class="py-1 d-flex" v-for="(feature, index) in plan.features" :key="index">
								<span class="mr-auto">{{ feature.key }}</span>
								<span
									:class="[
										'icon font-weight-bold rounded text-white',
										feature.value ? 'ionicon-checkmark-outline' : 'ionicon-close-outline'
									]"
								></span>
							</li>
						</ul>
					</div>
				</div>
				<p class="text-center mx-auto">
					<small>* Todos los precios estan expresados en dolares americanos</small>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
const PlanInformation = () => import('../../common/PlanInformation');
import Vue2Filters from 'vue2-filters';
import { PLANS, STEP, MULTIPLIER, DISCOUNT } from './constants';
import { BFormSpinbutton } from 'bootstrap-vue';
import VueSmoothScroll from 'vue2-smooth-scroll';

Vue.use(Vue2Filters);
Vue.use(VueSmoothScroll);

export default {
	name: 'Plans',
	components: {
		PlanInformation,
		BFormSpinbutton
	},
	data() {
		return {
			yearly: false,
			quantity: 0
		};
	},
	methods: {
		updatePrice(price, discountLot) {
			let priceOfQuantityAdded = (this.quantity ? this.quantity / this.STEP : 0) * MULTIPLIER;

			priceOfQuantityAdded = priceOfQuantityAdded - priceOfQuantityAdded * discountLot;

			const partialTotal = price + priceOfQuantityAdded;
			const discountOfPrice = this.yearly ? partialTotal * DISCOUNT : 0;

			return partialTotal - discountOfPrice;
		},
		quantityFormatter(quantity) {
			return this.$options.filters.number(quantity, '0,0');
		}
	},
	created() {
		this.PLANS = PLANS;
		this.STEP = STEP;
		this.MULTIPLIER = MULTIPLIER;
		this.DISCOUNT = DISCOUNT;
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	position: relative;
	background: $body-background-color;

	&:after,
	&:before {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 5rem;
		background: $white;
		border-radius: 50%;
		content: '';
	}

	&:after {
		top: -3.5rem;
	}

	&:before {
		bottom: -3.5rem;
	}

	.toggle-wrapper {
		border-radius: 4rem;
		display: inline-block;
		overflow: hidden;

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $text-color;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.slider:before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .slider {
			background-color: $primary;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px $primary;
		}

		input:checked + .slider:before {
			transform: translateX(26px);
		}

		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}
	}

	.price-container {
		background: $white;

		.characteristics-list {
			li {
				width: 140px;
				margin: 0 auto;
			}
		}

		.features-list {
			li {
				word-break: break-all;
				.icon {
					width: 18px;
					height: 18px;
					line-height: 18px;
					text-align: center;

					&.ionicon-checkmark-outline {
						background: rgba($success, 0.6);
					}

					&.ionicon-close-outline {
						background: rgba($danger, 0.6);
					}
				}
			}
		}
	}
}
</style>
