<template>
	<div class="container-fluid py-5 my-5" id="areas">
		<div class="container px-0">
			<div class="text-center pb-5">
				<h2 class="mb-4">
					Work better together with <br />
					Agile project management
				</h2>
				<p>
					Hubstaff Tasks is based on Agile Methodology, which has been proven to
					<br />
					enhance team collaboration and communication.
				</p>
			</div>

			<div class="row justify-content-sm-center">
				<div class="col-md-6 col-sm-8 pb-4 pb-md-0 container-areas">
					<lazy-component v-for="(image, index) in IMAGES" :key="index">
						<img
							:src="require(`@/assets/areas/${image.area}.jpg`)"
							:class="[image.isHorizontal ? 'horizontal-image mb-3' : 'vertical-image', 'img-fluid']"
							alt=""
						/>
					</lazy-component>
				</div>
				<div class="col-md-6 col-sm-10 d-flex align-items-center">
					<ul class="list-areas list-inline ml-xl-5 pl-xl-5">
						<li class="py-4" v-for="(area, index) in AREAS" :key="index">
							<p class="d-flex align-items-center">
								<span :class="`icon ionicon-${area.icon}-outline f-30 pr-3 text-primary`"></span>
								<span class="h5 font-weight-bold">{{ area.title }}</span>
							</p>
							<p class="pt-3 pl-5">
								{{ area.text }}
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import VueLazyload from 'vue-lazyload';
import { AREAS, IMAGES } from './constants';

Vue.use(VueLazyload, {
	lazyComponent: true
});

export default {
	name: 'PromotionalMessage',
	created() {
		this.AREAS = AREAS;
		this.IMAGES = IMAGES;
	}
};
</script>

<style lang="scss" scoped>
.container-areas {
	.img-fluid {
		border-radius: $border-radius;
		&.horizontal-image {
			width: 80%;

			&:last-of-type {
				margin-bottom: 0 !important;
			}
		}

		&.vertical-image {
			position: absolute;
			width: 50%;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			right: 15px;
		}
	}
}

.list-areas {
	li {
		border-bottom: 1px solid $hr-color;

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0 !important;
		}

		.icon {
			font-size: 2rem;
		}
	}
}
</style>
