<template>
	<div class="container-fluid" id="characteristics">
		<div class="text-center pb-5">
			<h3 class="h2 mb-4">
				Work better together with <br />
				Agile project management
			</h3>
			<p>
				Hubstaff Tasks is based on Agile Methodology, which has been proven to
				<br />
				enhance team collaboration and communication.
			</p>
		</div>
		<div class="container mb-5 px-0">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="col-md-2 col-sm-4 text-center py-4" v-for="(characteristic, index) in CHARACTERISTICS" :key="index">
					<span :class="`icon ionicon-${characteristic.icon}-outline rounded-circle p-3`"></span>
					<p class="h6 mt-4 pb-3 font-weight-bold">
						{{ characteristic.title }}
					</p>
					<p>{{ characteristic.text }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import CHARACTERISTICS from './constants';

export default {
	name: 'Characteristics',
	created() {
		this.CHARACTERISTICS = CHARACTERISTICS;
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	.icon {
		background: rgba($primary, 0.1);
		font-size: 2rem;
	}
}
</style>
