<template>
	<div id="home" class="welcome-component container-fluid">
		<div class="container d-flex px-0">
			<div class="row align-items-center">
				<div class="col-8 col-sm-6">
					<h1>{{ $t('welcome.title') }}</h1>
					<p class="mt-4">Podras registrar todos tus equipos simple y eficazmente y hacer un trackeo de ellos</p>
					<a class="btn btn-primary p-2 my-4" href="#" role="button">Empezar ahora</a>
					<PlanInformation />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
const PlanInformation = () => import('../../common/PlanInformation');

export default {
	name: 'Welcome',
	components: {
		PlanInformation
	}
};
</script>

<style lang="scss">
@media (max-width: map-get($grid-breakpoints, sm)) {
	.welcome-component {
		&.container-fluid {
			&:after {
				width: 90% !important;
			}

			h1 {
				font-size: 1.5rem !important;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.container-fluid {
	background: url('~@/assets/welcome.jpg') no-repeat center center / cover;
	height: 60vh;
	margin-top: 66px;
	position: relative;
	display: grid;

	&:after {
		position: absolute;
		content: '';
		width: 75%;
		height: 61vh;
		top: 0;
		left: -20%;
		transform: skew(20deg);
		background: $body-background-color;
		z-index: 0;
	}

	.container {
		z-index: 1;
	}
}
</style>
