<template>
	<div>
		<ul class="list-inline">
			<li class="list-inline-item">
				<small>
					<span class="icon ionicon-checkmark-done-outline"></span>
					14 días free
				</small>
			</li>
			<li class="list-inline-item">
				<small>
					<span class="icon ionicon-checkmark-done-outline"></span>
					Cancela cuando quieras
				</small>
			</li>
		</ul>
	</div>
</template>

<script>
export default {};
</script>
