<template>
	<div id="app">
		<Header />
		<Welcome />
		<PromotionalMessage />
		<Characteristics />
		<Plans />
		<Faq />
		<Footer />
		<Cookies />
	</div>
</template>

<script>
const Header = () => import('./components/parts/header/Header');
const Welcome = () => import('./components/parts/welcome/Welcome');
const PromotionalMessage = () => import('./components/parts/promotionalMessage/PromotionalMessage');
const Characteristics = () => import('./components/parts/characteristics/Characteristics');
const Plans = () => import('./components/parts/plans/Plans');
const Faq = () => import('./components/parts/faq/Faq');
const Footer = () => import('./components/parts/footer/Footer');
const Cookies = () => import('./components/parts/cookies/Cookies');
import { title } from '@/mixins';

export default {
	name: 'App',
	mixins: [title],
	components: {
		Header,
		Welcome,
		PromotionalMessage,
		Characteristics,
		Plans,
		Faq,
		Footer,
		Cookies
	},
	created() {
		this.setTitle();
	}
};
</script>

<style lang="scss"></style>
